main {
    min-height: 30vh;
    background-color: #FFFFFF;
    padding: 50px;
}

main h1 {
    color: darkgreen;
    font-family:'Courier New', Courier, monospace;
    margin-bottom: 20px;
}

.form-contato{
    font-size: 24px;
    display: flex;
    flex-direction: column;
}
.form-contato input {
    height: 30px;
    width: 50%;
    margin-top: 5px;
    margin-bottom: 20px;
}
.form-contato input[type='submit']{
    background-color: darkorange;
    color: bisque;
    font: 20px arial;
}

#resultado {
    font-size: 20px;
}